#jumbotron{
	padding:120px 10px;
	background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/conf.jpeg) no-repeat center / cover;
}

#esperti{
	padding-top: 50px;
}

#esperti .card-body{
	height: 300px
}
/*
	nelle card presenti nel div con id esperti modifico il card-body portandolo ad un'altezza di 300px
*/